.app {
  display: flex;
}

.side-nav {
  padding: 10px;
  border-right: 1px solid #ccc;
}

.main-section {
  padding: 10px;
  flex-grow: 1;
}

button {
  display: block;
  margin-bottom: 10px;
  padding: 10px;
}
